{% extends "base.html" %}

{% block content %}
    {% if list_=="ol" %}
        <h2 style="text-align: center">Список профессий</h2>
        <ol>
            {% for el in professions %}
            <li>{{el}}</li>
            {% endfor %}
        </ol>
    {% elif list_=="ul" %}
        <h2 style="text-align: center">Список профессий</h2>
        <ul>
            {% for el in professions %}
            <li>{{el}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Ошибка в формате запроса. Укажите ol или ul</p>
    {% endif %}
{% endblock %}